.contact_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10vh;
  height: 100vh;
  color: rgb(233, 233, 233);
  font-weight: bold;
  font-size: 14px;
}
