.home_div {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  height: 90vh;
  width: 100%;
  text-align: center;
  /* background: linear-gradient(to right, #1e3c72, #2a5298); */
  border-bottom: 1px solid gray;
}

.home_section p {
  font-size: 50px;
  color: black;
}

.my_image {
  width: 20vw;
}
