nav {
  display: flex;
  width: 100%;
  transition: 0.5s ease;
  background-color: #ffff;
  position: fixed;
  padding: 3vh;
  height: 10vh;
  border-bottom: 2px solid gray;
  font-family: "Nanum Gothic", sans-serif;
  visibility: hidden;
  opacity: 0;
}

.nav_active {
  visibility: visible;
  transition: 0.5s;
  opacity: 0.9;
  z-index: 1;
}

p.logo {
  font-size: 30px;
  color: rgb(82, 80, 80);
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5vh;
  color: rgb(121, 121, 121);
}

li:hover {
  font-size: 25px;
  transition: 0.3s;
}

#li_hover {
  font-size: 25px;
  transition: 0.3s;
  color: rgb(46, 45, 45);
}
