nav {
  display: flex;
  /* background: linear-gradient(to right, #005c97, #363795); */
  background-color: white;
  width: 100%;
  transition: 0.5s ease;
  position: fixed;
  padding: 3vh;
  height: 10vh;
  z-index: 1;
  border-bottom: 3px solid gray;
  font-family: "Nanum Gothic", sans-serif;
}

p.logo {
  font-size: 30px;
  color: rgb(82, 80, 80);
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5vh;
  color: rgb(158, 157, 157);
}

li:hover {
  font-size: 25px;
  transition: 0.3s;
}

#li_hover {
  font-size: 25px;
  transition: 0.3s;
  color: rgb(82, 80, 80);
}
