.result_list{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:70rem;
}

.list_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name, .server{
    margin:0 10px;
}

.name{
    font-size:20px;
}

.job{
    font-size:12px;
}

.server{
    color:gray;
    font-size:12px;
}

.modal{
    display: none;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: black;
}
